.customer-container {
    padding: 5%;
    max-width: 900px;
    margin: auto;
}

.title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #333;
}

.customer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.customer-card {
    background: white;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    position: relative;
    border-left: 5px solid #1d5999;
}

.customer-card:hover {
    transform: translateY(-5px);
}

.customer-country {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #007bff;
    color: white;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
}
.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #09488b;
    text-align: center;
    background: #f1f1f1;
    padding: 8px;
    border-radius: 8px;
}
.customer-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.customer-icon {
    font-size: 32px;
    color: #eff1f3;
}

.icon {
    margin-right: 8px;
    color: #555;
    font-size: 18px;
}
.customer-card p {
    font-size: 14px;
    margin: 5px 0;
    color: #444;
}

.customer-card strong {
    color: #222;
}
.card-actions {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.btn-edit, .btn-delete {
    border: none;
    padding: 10px 14px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.btn-edit {
    background: #28a745;
    color: white;
}

.btn-delete {
    background: #dc3545;
    color: white;
}

.btn-edit:hover {
    background: #218838;
    transform: scale(1.05);
}

.btn-delete:hover {
    background: #c82333;
    transform: scale(1.05);
}
.btn-icon {
    font-size: 33px;
    color: #fff;
}
